@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "Movie Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "Edit") {
    <h2>Edit Movie</h2>
}
else {
    <h2>New Movie</h2>
}


@using (Html.BeginForm("Save", "Movies")) {
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "movieName" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control", @PlaceHolder = "ex: 1 January 2001", @id = "movieReleaseDate" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "GenreName"), "Select Genre", new { @class = "form-control", @id = "movieGenreId" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Stock)
        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control", @id = "movieStock" })
        @Html.ValidationMessageFor(m => m.Stock)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary" id="movieSave">Save</button>
}


